*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.login-page{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00b4db,#0083b0);
}

.login-card{
    width:380px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.login-card h2{
    text-align:center;
    margin-bottom:25px;
    color:#0077b6;
}

.login-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.login-card input:focus{
    border:1px solid #0077b6;
}

.login-card button{
    width:100%;
    padding:12px;
    border:none;
    background:#0077b6;
    color:white;
    font-size:17px;
    border-radius:8px;
    cursor:pointer;
}

.login-card button:hover{
    background:#005f87;
}

@media(max-width:480px){

.login-card{
    width:90%;
}

}