.sidebar{
    width:250px;
    height:100vh;
    background:#115e59;
    color:white;
    position:fixed;
    left:0;
    top:70px;
    transition:.3s;
}

.logo{
    text-align:center;
    margin:20px 0;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar ul li{
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px 25px;
    cursor:pointer;
    transition:.3s;
}

.sidebar ul li:hover{
    background:#0f766e;
}

@media(max-width:768px){

.sidebar{
left:-260px;
}

.sidebar.active{
left:0;
}

}